@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MainFont';
  src: url('./fonts/Estedad-Bold.woff2') format('woff2');
  font-weight: 800; /* extra bold */
  font-style: normal;
}

@font-face {
  font-family: 'MainFont';
  src: url('./fonts/Estedad-Bold.woff2') format('woff2');
  font-weight: 700; /* bold */
  font-style: normal;
}

@font-face {
  font-family: 'MainFont';
  src: url('./fonts/Estedad-SemiBold.woff2') format('woff2');
  font-weight: 600; /* semi bold */
  font-style: normal;
}

@font-face {
  font-family: 'MainFont';
  src: url('./fonts/Estedad-Medium.woff2') format('woff2');
  font-weight: 500; /* medium */
  font-style: normal;
}

@font-face {
  font-family: 'MainFont';
  src: url('./fonts/Estedad-Regular.woff2') format('woff2');
  font-weight: 400; /* regular */
  font-style: normal;
}

@font-face {
  font-family: 'MainFont';
  src: url('./fonts/Estedad-Light.woff2') format('woff2');
  font-weight: 300; /* light */
  font-style: normal;
}

@font-face {
  font-family: 'PersianNumbers';
  src: url('./fonts/IRANSansXFaNum-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PersianNumbers';
  src: url('./fonts/IRANSansXFaNum-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FancyFont';
  src: url('./fonts/Nic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* برای مرورگرهای WebKit */
  }

  .hide-scrollbar {
    scrollbar-width: none; /* برای مرورگرهای Gecko مثل Firefox */
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: #64f4ab; /* رنگ پیکان‌ها */
  font-size: 24px; /* اندازه پیکان‌ها */
}
