@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MainFont';
  src: url('./fonts/Estedad-Bold.woff2') format('woff2');
  font-weight: 800; /* extra bold */
  font-style: normal;
}

@font-face {
  font-family: 'MainFont';
  src: url('./fonts/Estedad-Bold.woff2') format('woff2');
  font-weight: 700; /* bold */
  font-style: normal;
}

@font-face {
  font-family: 'MainFont';
  src: url('./fonts/Estedad-SemiBold.woff2') format('woff2');
  font-weight: 600; /* semi bold */
  font-style: normal;
}

@font-face {
  font-family: 'MainFont';
  src: url('./fonts/Estedad-Medium.woff2') format('woff2');
  font-weight: 500; /* medium */
  font-style: normal;
}

@font-face {
  font-family: 'MainFont';
  src: url('./fonts/Estedad-Regular.woff2') format('woff2');
  font-weight: 400; /* regular */
  font-style: normal;
}

@font-face {
  font-family: 'MainFont';
  src: url('./fonts/Estedad-Light.woff2') format('woff2');
  font-weight: 300; /* light */
  font-style: normal;
}

@font-face {
  font-family: 'PersianNumbers';
  src: url('./fonts/IRANSansXFaNum-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PersianNumbers';
  src: url('./fonts/IRANSansXFaNum-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FancyFont';
  src: url('./fonts/Digi Sarvenaz.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* برای مرورگرهای WebKit */
  }

  .hide-scrollbar {
    scrollbar-width: none; /* برای مرورگرهای Gecko مثل Firefox */
  }

  .custom-input-datepicker {
    border-radius: 12px;
    padding: 4px 12px;
    height: 100%;
    width: 100%;
    font-family: 'PersianNumbers';
    font-size: 16px;
    padding: 8px 16px;
    background: transparent;
  }

  .custom-input-datepicker::placeholder {
    font-size: 12px;
  }

  .custom-input-datepicker:focus {
    outline: none;
  }

  .clip-wave {
    clip-path: path(
      'M0,64L48,80C96,96,192,128,288,133.3C384,139,480,117,576,96C672,75,768,53,864,64C960,75,1056,117,1152,117.3C1248,117,1344,75,1392,53.3L1440,32V0H0Z'
    );
  }

  .clip-wave-bottom {
    clip-path: path(
      'M0,64L48,80C96,96,192,128,288,133.3C384,139,480,117,576,96C672,75,768,53,864,64C960,75,1056,117,1152,117.3C1248,117,1344,75,1392,53.3L1440,32V0H0Z'
    );
    transform: rotate(180deg);
  }
}
